<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>微信订单管理</title>
		<link rel="stylesheet" href="../../assets/css/amazeui.css">
		<link rel="stylesheet" href="../../assets/css/style.css">
	</head>

	<body>
		<header data-am-widget="header" class="am-header am-header-fixed header">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="arrow-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
		        <a href="javascript:;" class="title">
		          我的订单
		        </a>
		    </h1>
		</header>
		<div class="line"></div>
		<div class="wfa-wrapper">
			<ul class="wrapper-list">
				<script type="text/html" id="content">
					{{if total == 0}}
					<!--无消息-->
					<div class="wrapper-img">
						<img src="../../assets/i/n-appoint.png" class="am-center" width="100" height="100" />
						<div class="wrapper-target">
							<span>暂无订单</span>
						</div>
					</div>
					{{else}} {{each list as item index}}
					<li class="list-item" data="{{item.id}}">
						<a href="appointment-details.html?id={{item.id}}" class="item-href">
							<div class="item-top am-cf">
								<span class="time am-fl">{{item.ordertime}}</span> {{if item.status == 2 || item.status == 1}}
								<span class="status am-fr">待接单</span> {{else if item.status == 5}}
								<span class="status am-fr">已完成</span> {{else if item.status == '40' || item.status == '41' || item.status == 4}}
								<span class="status am-fr">待完成</span>{{else if item.status == 3}}
								<span class="status am-fr">待确认</span>{{else if item.status == 8}}
								<span class="status am-fr">已删除</span>{{/if}}
								
							</div>
							<div class="item-task">
								<div class="title">作业描述</div>
								<div class="desc">{{item.demo}}</div>
							</div>
							<div class="bottom">
								<span class="keyWord">{{item.type_text}}</span>
								<span class="address">{{item.province}}{{item.city}}{{item.area}}</span>
							</div>
						</a>
						{{if item.status == 2}}
						<!--待接单-->
						<div class="item-status am-cf">
							<a href="javascript:;" class="state am-fr Orders">接单</a>
							<span href="javascript:;" class="del am-fr refuse">拒绝</span>
						</div>
						{{else if item.status == '40' || item.status == '41'}}
						<!--待完成-->
						<div class="item-status am-cf">
							<a href="javascript:;" class="state am-fr complete">完成</a>
						</div>
						{{else if item.status == 5}}
						<!--已完成-->
						<div class="item-status am-cf">
							<a href="evaluate-details.html?id={{item.id}}" class="state am-fr">查看评价</a>
						</div>
						{{/if}}
					</li>
					<div class="line"></div>
					{{/each}} {{/if}}
				</script>
			</ul>
		</div>
		<!--底部-->
		<footer class="am-cf">
			<div data-am-widget="navbar" class="am-navbar am-cf" id="">
				<ul class="am-navbar-nav am-cf am-avg-sm-4 foot-wrapper">
					<li class="foot_item">
						<a href="../index/index.html">
							<i class="home"></i>
							<span class="active">首页</span>
						</a>
					</li>
					<li class="foot_item">
						<a href="../my-order/order.html" class="">
							<i class="order active"></i>
							<span class="">我的订单</span>
						</a>
					</li>
					<li class="foot_item">
						<a href="../my/my.html" class="">
							<i class="my"></i>
							<span class="">我</span>
						</a>
					</li>
				</ul>
			</div>
		</footer>
	</body>
	<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../assets/js/amazeui.js"></script>
	<script type="text/javascript" src="../../assets/js/common.js"></script>
	<script type="text/javascript" src="../../assets/js/template.js"></script>
	<script type="text/javascript" src="../../assets/js/dropload.min.js"></script>
	<script>
		$(function() {
			//			$('body').height($(window).height());
			var token = getCookie('token');
			//订单列表
			var page = 1;
			$dropload = $('.wfa-wrapper').dropload({
				scrollArea: window,
				threshold: 50,
				domDown: {
					domNoData: '<div class="dropload-noData">没有更多</div>'
				},
				loadDownFn: function(me) {
					$.ajax({
						type: 'POST',
						url: reqUrl("order_list"),
						data: {
							token: token,
							status: '1,2,3,40,41,4,5,8',
							limit: 10,
							page: page
						},
						dataType: 'JSON',
						async: false,
						xhrFields: {
							withCredentials: true
						},
						async: false, //同步
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('machine/log/login.html?path=machine/my-order/order.html');
							} else if(data.success) {
								page++;
								var html = '';
								var arrLen = data.infor.list.length;
								if(arrLen > 0) {
									//预编译模板
									html = template('content', data.infor);

								} else {
									// 锁定
									me.lock();
									// 无数据
									me.noData();
								}

								//								if(page == 1) {
								//									$('.wrapper-list').html(html);
								//								} else {
								$('.wrapper-list').append(html);
								//								}

								me.resetload();
							} else {
								mask(data.msg);
							}
						}
					});
				}
			});

			$('.wrapper-list').on('click', function(e) {
				var orderId = $(e.target).parents('.list-item').attr('data');
				var cls = e.target.className;
				if(cls == 'state am-fr complete') { //完成
					$.ajax({
						type: 'POST',
						url: reqUrl('order_done'),
						data: {
							token: token,
							orderid: orderId,
							ismachine: true
						},
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('machine/log/login.html?path=machine/my-order/order.html');
							} else if(data.success) {
								setTimeout(function() {
									location.reload();
								}, 1000);
							} else {
								mask(data.msg);
							}
						}
					});
				} else if(cls == 'state am-fr Orders') { //机手接单
					$.ajax({
						type: 'POST',
						url: reqUrl('order_accept'),
						data: {
							token: token,
							orderid: orderId,
							status: 1
						},
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('machine/log/login.html?path=machine/my-order/order.html');
							} else if(data.success) {
								mask('接单成功');
								setTimeout(function() {
									window.location.href = preUrl('machine/my-order/choose-cars.html?id='+orderId+'');
								}, 1000);
							} else {
								mask(data.msg);
							}
						}
					});
				} else if(cls == 'del am-fr refuse') { //机手拒绝
					$.ajax({
						type: 'POST',
						url: reqUrl('order_accept'),
						data: {
							token: token,
							orderid: orderId,
							status: 2
						},
						dataType: 'json',
						xhrFields: {
							withCredentials: true
						},
						success: function(data) {
							if(data.error_code == 200) {
								window.location.href = preUrl('machine/log/login.html?path=machine/my-order/order.html');
							} else if(data.success) {
								mask('拒绝成功');
								setTimeout(function() {
									location.reload();
								}, 1000);
							} else {
								mask(data.msg);
							}
						}
					});
				}
			});
		});
	</script>

</html>